<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festify.</title>
    <link rel="stylesheet" href="/style/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <a href="/" class="navbar-logo"><span>f</span>estify.</a>
      <div class="user">
        <a href="/profile">Profil</a>
      </div>
    </nav>

    <h1 style="text-align: center">Selamat datang, <%= username %>!</h1>

    <!-- Event Terbuka -->
    <section class="event-section">
      <h2>Jelajahi!</h2>

      <div class="search">
        <input type="text" id="searchInput" placeholder="Cari event..." />
        <select id="sortSelect">
          <option value="asc">Tanggal Terdekat</option>
          <option value="desc">Tanggal Terjauh</option>
        </select>
      </div>

      <div id="openEventsContainer">
        <% if (openEvents.length > 0) { %> <% openEvents.forEach(event => { %>
        <div
          class="event-box"
          data-title="<%= event.title.toLowerCase() %>"
          data-description="<%= event.description.toLowerCase() %>"
          data-date="<%= new Date(event.date).toISOString() %>"
        >
          <img src="<%= event.poster %>" alt="Poster <%= event.title %>" />
          <h3><%= event.title %></h3>
          <p>
            <strong>Tanggal:</strong> <%= new Date(event.date).toDateString() %>
          </p>
          <!-- <p><%= event.description %></p> -->
          <a href="/event/<%= event._id %>">
            <button>Lihat Detail</button>
          </a>
        </div>
        <% }) %> <% } else { %>
        <p style="text-align: center">Tidak ada event tersedia.</p>
        <% } %>
      </div>
    </section>
  </body>
</html>
